<%= form_with(model: notice, local: true) do |form| %>
  <% if notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <strong>Capa</strong>
    <div class="field">
      <%= form.label :files %>
      <%= form.file_field :files, multiple: true %>
  </div>

  <ul>
  <% @notice.files.each do |file| %>
      <%= link_to file.filename, url_for(file) %>
      <%= link_to "X", notice_file_uploads_notice_path(@notice, file), method: :delete, data: { confirm: "Tem certeza?" } %><br/>
  <% end %>
  </ul>
  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_area :subtitle %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="field">
    <%= form.label :publication %>
    <%= form.date_select :publication %>
  </div>

 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
