    <div class="container">
      <div class="section-title">
       <br/><br/><br/><br/><br/>
        <h2>Vagas de Emprego</h2>
        <p>Caso encontre alguma vaga de seu interesse entre em contato conosco.</p>
      </div>
     
      <table id="vacancy-datatable" data-source="<%= vacancies_path(format: :json) %>">
        <thead>
          <tr>
            <th>Code</th>
            <th>Title</th>
            <th>description</th>
            <th>Schooling</th>
            <th>Quantity</th>
            <th>Remuneration</th>
            <th>Benefit</th>
            <th>Workload</th>
            <th>Company</th>
          </tr>

        </thead>
        <tbody>
          <% @vacancies.each do |vacancy| %>
            <tr>
              <td><%= vacancy.code %></td>
              <td><%= vacancy.title %></td>
              <td><%= vacancy.description %></td>
              <td><%= vacancy.schooling %></td>
              <td><%= vacancy.quantity %></td>
              <td><%= vacancy.remuneration %></td>
              <td><%= vacancy.benefit %></td>
              <td><%= vacancy.workload %></td>
              <td><%= vacancy.company.name %></td>
              <td><%= link_to 'Show', vacancy %></td>
              <td><%= link_to 'Edit', edit_vacancy_path(vacancy) %></td>
              <td><%= link_to 'Destroy', vacancy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to 'New Vacancy', new_vacancy_path %>
    </div>
</main>





