<br/><br/><br/><br/><br/>
<% if current_user.try(:admin?) %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <main id="main">
      <div class="container">
      <h2>Forgot your password?</h2>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <br/>
        <div class="actions">
          <%= f.submit "Send me reset password instructions" %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </main>
  <% end %>
  <% else %>
    <div class="alert alert-danger" role="alert">
      Acesso negado!
    </div>
  <% end %>