<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
   <div class="container">
      <h1>Welcome to ADFEGO</h1>
      <h2>We are team of talanted designers making websites with Bootstrap</h2>
    </div>
  </section><!-- End Hero -->
  <br/><br/><br/><br/><br/><br/><br/>

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>Convênios</h2>
        </div>

        <!-- ======= Diretoria Section ======= -->
    <section id="doctors" class="doctors">
    <div class="container">

        <div class="row"> <!-- init line -->

          <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                    <!--<img src="..." class="card-img-top" alt="..."> -->
                    <div class="pic"><%= image_tag("convenio/detran-go.png", class:"card-img-top", alt:"")%>
                    <div class="card-body">
                        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                </div>
            </div>

            <br/>

            <div class="col-lg-6">
                
                    <div class="pic"><%= image_tag("convenio/imas.png", class:"card-img-top", alt:"")%>
                        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                </div>
            </div>


            <br/>

        </div> <!-- end line -->

        <div class="row"> <!-- init line -->

        <br/>

          <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                    <!--<img src="..." class="card-img-top" alt="..."> -->
                    <div class="pic"><%= image_tag("convenio/ipasgo.png", class:"card-img-top", alt:"")%>
                    <div class="card-body">
                        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                </div>
            </div>

            <br/>

            <div class="col-lg-6">
                
                    <div class="pic"><%= image_tag("convenio/saneago.png", class:"card-img-top", alt:"")%>
                        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                </div>
            </div>

            <br/>

            <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                <div class="pic"><%= image_tag("convenio/ssp.png", class:"card-img-top", alt:"")%>
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                       <!--  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                <div class="pic"><%= image_tag("convenio/sus.png", class:"card-img-top", alt:"")%>
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                       <!--  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                </div>
            </div>
            
        </div> <!-- end line -->
    </div>
    </section><!-- End Doctors Section -->
  </main><!-- End #main -->
