<!DOCTYPE html>
<html>
  <head>
    <title>ADFEGO | Associação dos Deficientes Fisicos do Estado de Goiás</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%=favicon_link_tag 'adfego-favicon.png'%>
    
    <%= stylesheet_link_tag'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
  </head>
  <body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="fa fa-envelope"></i> <a href="mailto:contact@example.com">adfego@adfego.org.br</a>
        <i class="fa fa-phone"></i> (62) 3202-3313
        <i class="fa fa-google-map"></i> Av independência, Leste Vila Nova.
      </div>
      <div class="social-links">
        <!--<a href="#" class="twitter"><i class="fa fa-twitter"></i></a> -->
        <a href="https://www.facebook.com/adfegooficial" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/adfegooficial/?hl=pt-br" class="instagram"><i class="fa fa-instagram"></i></a>
        <!--<a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>-->
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <!--<h1 class="logo mr-auto"><%= link_to "ADFEGO", home_index_path  %></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html" class="logo mr-auto"><%= image_tag"logo.jpg", alt:"", class:"img-fluid"%></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li> <%= link_to "Home", home_index_path %></li>
          <li><a href="#about">Institucional</a></li>
            <!--<ul>
              <li><a href="#">A ADFEGO</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                  <li><a href="#">Deep Drop Down 6</a></li>
                </ul>
              </li>
              <li><a href="#">Diretoria</a></li>
              <li><a href="#">Convênios</a></li>
              <li><a href="#">Estatuto</a></li>
              <li><a href="#">Código de Ética</a></li>
            </ul>-->
          
          <li><a href="#services">Serviços</a></li>
          <li><a href="#departments">Deficiências</a></li>          
          <li><a href="#faq">Informativo</a></li>
          <li> <%= link_to "Vagas de Emprego", companies_path %></li>
          <li><a href="#contact">Contato</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <!--<a href="#appointment" class="appointment-btn scrollto">Make an Appointment</a> -->

    </div>
  </header><!-- End Header -->

    <%= yield %>

    <!-- ======= Footer ======= -->
  <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <%= link_to image_tag"gallery/gallery-1.jpg", class:"img-fluid venobox", alt:"" %>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <%= link_to image_tag"gallery/gallery-2.jpg", class:"img-fluid venobox", alt:"" %>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <%= link_to image_tag"gallery/gallery-3.jpg", class:"img-fluid venobox", alt:"" %>
            </div>
          </div>

          <div class="col-lg-3 codel-md-4">
            <div class="gallery-item">
              <%= link_to image_tag"gallery/gallery-4.jpg", class:"img-fluid venobox", alt:"" %>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <%= link_to image_tag"gallery/gallery-5.jpg", class:"img-fluid venobox", alt:"" %>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <%= link_to image_tag"gallery/gallery-6.jpg", class:"img-fluid venobox", alt:"" %>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
             <%= link_to image_tag"gallery/gallery-7.jpg", class:"img-fluid venobox", alt:"" %>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <%= link_to image_tag"gallery/gallery-8.jpg", class:"img-fluid venobox", :data=>{:gall => 'gallery-item'}, alt:"" %>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contato</h2>
          <p>Nosso atendimento é das 08:00h às 12:00h e das 13:00h às 17:00h de segunda a sexta-feira.</p>
        </div>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/place/ADFEGO+-+Associa%C3%A7%C3%A3o+dos+Deficientes+F%C3%ADsicos+do+Estado+de+Goi%C3%A1s/@-16.6604091,-49.2511816,17z/data=!3m1i4b1i4m5i3m4i1s0x935ef23283434975:0x34e5d536901d1a2f!8m2!3d-16.6604143!4d-49.2489929?hl=pt-BR" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Localização:</h4>
                <p>Avenida Independência, N° 3026, St. Leste Vila Nova,<br/> CEP.: 74645-010</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>adfego@adfego.org.br | <br/>
                   presidencia@adfego.org.br</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Fone:</h4>
                <p>(62) 3202-3313</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Seu nome" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Seu e-mail" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensagem"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>